<div class="flex items-end justify-between gap-2" ...attributes>
  <span class="flex flex-col text-sm leading-normal font-medium">
    <span class="flex items-center h-6 gap-x-1">
      {{@title}}

      <span
        class="font-thin text-gray-700 transition-opacity
          {{if @titleSuffix 'opacity-100' 'opacity-0 pointer-events-none'}}"
      >
        {{@titleSuffix}}
      </span>
    </span>

    {{#if @subtitle}}
      <span class="block mt-2 mb-3 mr-10 font-thin text-gray-700">
        {{@subtitle}}
      </span>
    {{/if}}
  </span>
  <div
    class="flex justify-end text-sm leading-normal rounded-lg px-2 py-0.5 transition-colors
      {{if
        (eq @progress 100)
        (or
          (if (eq @activeColor 'green') 'bg-green-500 text-white font-medium')
          (if (eq @activeColor 'blue') 'bg-blue-500 font-medium text-white')
          (if (eq @activeColor 'yellow') 'bg-yellow-500 font-medium text-white')
          (if (eq @activeColor 'red') 'bg-red-400 font-medium text-white')
        )
        (or
          (if
            (eq @variant 'light')
            'bg-slate-900 bg-opacity-60 text-white font-medium'
            'bg-slate-200 text-gray-900'
          )
        )
      }}"
  >{{@progress}}%</div>
</div>

<div
  class="w-full h-1.5 rounded-md overflow-hidden mt-2
    {{if (eq @variant 'light') 'bg-slate-900 bg-opacity-10' 'bg-gray-200'}}"
>
  <div
    style={{concat "width: " @progress "%"}}
    class="h-full
      {{if (eq @useTransition false) '' 'transition-all duration-300'}}
      {{if (eq @activeColor 'green') 'bg-green-500'}}
      {{if (eq @activeColor 'blue') 'bg-blue-500'}}
      {{if (eq @activeColor 'yellow') 'bg-yellow-500/80'}}
      {{if (eq @activeColor 'red') 'bg-red-400 font-medium'}}"
  ></div>
</div>