<article class="py-8 bg-white rounded-lg shadow-lg px-7 w-96" ...attributes>
  <h2 class="font-medium">{{@model.title}}</h2>
  ({{this.depth}})
  <span class="block mt-2 text-sm leading-normal">{{@model.description}}</span>
  <div class="w-full h-1.5 rounded-md bg-gray-200 overflow-hidden mt-8">
    <div class="w-[calc(80%)] bg-green-400 h-full"></div>
  </div>
</article>

{{#each @model.knowledge_components as |item|}}
  <GraphView @model={{item}} @depth={{this.depth}} class="mt-5" />
{{/each}}