<div
  class='absolute z-10 backdrop-blur-3xl p-8 pb-9 transition-all origin-top-right bg-white rounded-lg shadow-xl w-[350px] top-12 right-8 h-max bg-opacity-5
    {{if
      @isActive
      "opacity-100 translate-y-0 scale-100 duration-200"
      "opacity-0 pointer-events-none -translate-y-6 scale-90 duration-100"
    }}'
>
  <div class='flex justify-between align-middle'>
    <h2 class='text-base font-medium'>Filters</h2>

    <button
      type='button'
      class='text-sm font-medium text-red-700 underline transition-opacity duration-200
        {{if @hasActiveFilters "opacity-1" "opacity-0 pointer-events-none"}}'
      {{on 'click' this.onResetClick}}
    >reset defaults</button>
  </div>

  <div class='flex flex-col gap-8 mt-8'>
    <div class='flex items-center justify-between gap-8'>
      <div class='flex flex-col gap-0.5'>
        <div
          class='flex items-center text-xs font-medium leading-tight text-gray-700'
        >Personal progress</div>
        <div
          class='flex items-center text-xs font-light leading-tight text-gray-700'
        >Show your personal progress in the overview.</div>
      </div>

      <button
        type='button'
        class='flex flex-shrink-0 items-center w-12 px-2 rounded-full h-7 transition-colors duration-300 ease-in-out
          {{if
            @isPersonalProgressActive
            "bg-green-500 bg-opacity-80"
            "bg-slate-200"
          }}'
        {{on 'click' this.togglePersonalProgressActive}}
      >
        <div
          class='w-4 h-4 bg-white rounded-full transition-transform duration-300 ease-in-out
            {{if @isPersonalProgressActive "translate-x-4" ""}}'
        ></div>
      </button>
    </div>

    <div class='flex items-center justify-between gap-8'>
      <div class='flex flex-col gap-0.5'>
        <div
          class='flex items-center text-xs font-medium leading-tight text-gray-700'
        >Class average</div>
        <div
          class='flex items-center text-xs font-light leading-tight text-gray-700'
        >Show your class' average progress in the overview to allow comparison.</div>
      </div>
      <button
        type='button'
        class='flex flex-shrink-0 items-center w-12 px-2 rounded-full h-7 transition-colors duration-300 ease-in-out
          {{if
            @isGroupProgressActive
            "bg-blue-500 bg-opacity-80"
            "bg-slate-200"
          }}'
        {{on 'click' this.toggleGroupProgressActive}}
      >
        <div
          class='w-4 h-4 bg-white rounded-full transition-transform duration-300 ease-in-out
            {{if @isGroupProgressActive "translate-x-4" ""}}'
        ></div>
      </button>
    </div>

    <div class='flex flex-col gap-2'>
      <div
        class='flex items-center text-xs font-medium leading-tight text-gray-700'
      >Sorting</div>
      <XSelect
        @canSearch={{false}}
        @model={{this.sortOptions}}
        @onSelect={{this.onSelectFilter}}
        @value={{this.selectedSortOption}}
        @placeholder='Make a choice'
      />
    </div>
  </div>

</div>