<div
  data-component-name="grid"
  {{did-insert this.setupTooltips}}
  {{did-update this.setupTooltips @topics}}
  class="mb-5"
>
  <div class="flex flex-row gap-1 mt-36">
    <div class="flex-shrink-0 w-16 mr-3"></div>
    {{#each @topics as |topic|}}
      <div
        class="relative flex flex-col w-12 transition-all
          {{if
            (and @isSidePanelOpen (not-eq topic.title this.activeIdSidePanel))
            ' opacity-30'
            ''
          }}"
      >
        <div class="mb-4 ml-4 -rotate-45 whitespace-nowrap">
          {{topic.title}}
        </div>
      </div>
    {{/each}}
  </div>

  <div
    class="flex flex-row gap-4 transition-all duration-300 ease-in-out
      {{if
        @isPersonalProgressActive
        'h-12'
        'h-0 pointer-events-none opacity-0'
      }}"
  >
    <div
      class="flex items-center flex-shrink-0 w-16 text-xs font-medium leading-tight text-gray-700"
    >
      personal skill level
    </div>

    <div class="flex flex-row gap-1">
      {{#each @topics as |topic|}}
        <GridCell
          @id={{topic.id}}
          @title={{topic.title}}
          @progressType="personal"
          @progress={{topic.progress.personal.totalLevel}}
          @backgroundColor="bg-green-500"
          @handleCellClick={{this.handleCellClick}}
          @handleCellMouseEnter={{this.handleCellMouseEnter}}
          @handleCellMouseLeave={{this.handleCellMouseLeave}}
          @isActive={{and
            (eq topic.title this.activeIdSidePanel)
            @isSidePanelOpen
          }}
          class="transition-opacity
            {{if
              (and @isSidePanelOpen (not-eq topic.title this.activeIdSidePanel))
              ' opacity-30'
              ''
            }}"
        />
      {{/each}}
    </div>
  </div>

  <div
    class="flex flex-row gap-4 mt-1 transition-all duration-300 ease-in-out
      {{if @isGroupProgressActive 'h-12' 'h-0 pointer-events-none opacity-0'}}"
  >
    <div
      class="flex items-center flex-shrink-0 w-16 text-xs font-medium leading-tight text-gray-700"
    >
      class average
    </div>

    <div class="flex flex-row gap-1">
      {{#each @topics as |topic|}}
        <GridCell
          @id={{topic.id}}
          @title={{topic.title}}
          @progressType="group"
          @progress={{topic.progress.group.totalLevel}}
          @backgroundColor="bg-blue-500"
          @handleCellClick={{this.handleCellClick}}
          @handleCellMouseEnter={{this.handleCellMouseEnter}}
          @handleCellMouseLeave={{this.handleCellMouseLeave}}
          @isActive={{and
            (eq topic.title this.activeIdSidePanel)
            @isSidePanelOpen
          }}
          class="transition-opacity
            {{if
              (and @isSidePanelOpen (not-eq topic.title this.activeIdSidePanel))
              ' opacity-30'
              ''
            }}"
        />
      {{/each}}
    </div>
  </div>

  <div
    class="flex flex-row gap-4 mt-1 transition-all duration-300 ease-in-out
      {{if @isBuggyAnswersActive 'h-12' 'h-0 pointer-events-none opacity-0'}}"
  >
    <div
      class="flex items-center flex-shrink-0 w-16 text-xs font-medium leading-tight text-gray-700"
    >
      errors last 5 attempts
    </div>

    <div class="flex flex-row gap-1">
      {{#each @topics as |topic|}}
        <GridCell
          @id={{topic.id}}
          @title={{topic.title}}
          @progressType="mistakes"
          @progress={{this.calculateProgress
            part=topic.progress.personal.buggyAnswersAmount
            whole=5
          }}
          @label={{topic.progress.personal.buggyAnswersAmount}}
          @backgroundColor="bg-red-400"
          @handleCellClick={{this.handleCellClick}}
          @handleCellMouseEnter={{this.handleCellMouseEnter}}
          @handleCellMouseLeave={{this.handleCellMouseLeave}}
          @isActive={{and
            (eq topic.title this.activeIdSidePanel)
            @isSidePanelOpen
          }}
          class="transition-opacity
            {{if
              (and @isSidePanelOpen (not-eq topic.title this.activeIdSidePanel))
              ' opacity-30'
              ''
            }}"
        />
      {{/each}}
    </div>
  </div>
</div>

<div id="tooltip" class="z-20 transition-all pointer-events-none">
  <div
    class="mx-6 my-2 transition-opacity duration-300 opacity-0 backdrop-blur-3xl"
  >
    <article
      class="py-8 bg-white rounded-lg shadow-lg bg-opacity-40 px-7 w-96"
      ...attributes
    >
      <h2
        class="font-medium text-gray-700"
      >{{this.activeKnowledgeComponent.title}}</h2>

      <div class="mt-8">
        {{#if (eq this.activeProgressType "mistakes")}}
          <div class="flex items-end justify-between gap-2">
            <span class="flex flex-col text-sm font-medium">
              <span class="flex items-center h-6 gap-x-1">
                You made
                <div
                  class="flex justify-end text-sm font-light rounded-lg px-2 py-0.5 transition-colors flex-shrink-0
                    {{if
                      (eq
                        this.activeKnowledgeComponent.progress.personal.buggyAnswersAmount
                        0
                      )
                      'bg-green-500 text-white'
                      'bg-red-400 text-white'
                    }}"
                >
                  {{this.activeKnowledgeComponent.progress.personal.buggyAnswersAmount}}
                  mistake{{#unless
                    (eq
                      this.activeKnowledgeComponent.progress.personal.buggyAnswersAmount
                      1
                    )
                  }}s{{/unless}}
                </div>
              </span>
              <span class="block mt-1 mb-3 mr-10 font-thin text-gray-700">
                during the last five times you attempted to apply
                {{this.activeKnowledgeComponent.title}}.
              </span>
            </span>
          </div>
        {{else}}
          <ProgressBar
            @title="Progress"
            @titleSuffix={{if
              (eq this.activeProgressType "personal")
              "(personal)"
              "(class average)"
            }}
            @progress={{if
              (eq this.activeProgressType "personal")
              this.activeKnowledgeComponent.progress.personal.totalLevel
              this.activeKnowledgeComponent.progress.group.totalLevel
            }}
            @activeColor={{this.activeColor}}
          />
        {{/if}}
      </div>
    </article>
  </div>
</div>