<main>
  <div class="max-w-screen-xl pt-20 mx-auto">

    <header class="relative z-20">
      <div class="flex items-center justify-between px-8">
        <h1 class="text-2xl">Progress LogEX</h1>
        <button
          type="button"
          class="relative z-20 flex items-center gap-3 py-2 pl-5 pr-3.5 text-sm font-medium text-white rounded-full bg-slate-700 text"
          {{on "click" this.toggleFiltersIsActive}}
        >
          Filters

          {{! Filter icon. }}
          <div class="flex flex-col gap-1 origin-center scale-90">
            <div class="w-4 h-[3px] bg-white"></div>
            <div class="w-3 h-[3px] bg-white"></div>
            <div class="w-2 h-[3px] bg-white"></div>
          </div>
        </button>
        <Filters
          @isActive={{this.isFiltersActive}}
          @toggleIsActive={{this.toggleFiltersIsActive}}
          @changeSortOptions={{this.changeSortOptions}}
          @selectedSortType={{this.selectedSortType}}
          @hasActiveFilters={{this.hasActiveFilters}}
          @togglePersonalProgressActive={{this.togglePersonalProgressActive}}
          @isPersonalProgressActive={{this.isPersonalProgressActive}}
          @toggleGroupProgressActive={{this.toggleGroupProgressActive}}
          @isGroupProgressActive={{this.isGroupProgressActive}}
          @toggleBuggyAnswersActive={{this.toggleBuggyAnswersActive}}
          @isBuggyAnswersActive={{this.isBuggyAnswersActive}}
          @reset={{this.resetFilters}}
        />
      </div>
    </header>

    {{! <div id='graph-view-canvas' class='fixed top-0 left-0'></div> }}

    <div class="px-8 mt-12 overflow-x-auto">
      <Grid
        @topics={{this.topics}}
        @isSidePanelOpen={{this.isSidePanelActive}}
        @openSidePanel={{this.openSidePanel}}
        @closeSidePanel={{this.closeSidePanel}}
        @isPersonalProgressActive={{this.isPersonalProgressActive}}
        @isGroupProgressActive={{this.isGroupProgressActive}}
        @isBuggyAnswersActive={{this.isBuggyAnswersActive}}
      />
    </div>

    {{#each this.model.interactions as |interaction|}}
      {{interaction.input.service}}
    {{/each}}
  </div>
</main>

<SidePanel
  @isActive={{this.isSidePanelActive}}
  @closeSidePanel={{this.closeSidePanel}}
  @activeKnowledgeComponent={{this.activeKnowledgeComponent}}
  @detailsOpen={{this.sidePanelDetailsOpen}}
/>